@charset "UTF-8";
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.outside {
  text-align: center;
}
.header__inner {
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 22px;
  padding-left: 1.375rem;
}
.header__inner.open {
  opacity: 1;
}
.header__li {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 2.1875;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header__li:last-child {
    margin-right: 0rem;
  }
}
@media screen and (min-width: 768px) {
  .header__li--link-a:hover::before {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .header__li--link-a::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffea2e;
    opacity: 0;
    position: absolute;
    bottom: 0.625rem;
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__li--link {
    height: 100%;
    background-color: #fff;
    color: #333;
    overflow: hidden;
    padding-top: 0rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    position: relative;
  }
}
.header__li--link::before {
  content: "";
}
@media screen and (min-width: 768px) {
  .header__li--link::before {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 5;
  }
}
@media screen and (min-width: 768px) {
  .header__li--link:hover::before {
    left: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
}
@media screen and (min-width: 768px) {
  .header__li--link:hover span {
    position: relative;
    z-index: 10;
    color: #fff;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
}
.header__li.open {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .header__nav--inner {
    height: 100%;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
    height: 100%;
  }
}
.header__nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
}
.header__title--img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/CodeUps@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
}
.header__title--inner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.header__title--inner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 55.7143%;
}
@media screen and (min-width: 768px) {
  .header__title--inner::after {
    padding-top: 26.596%;
  }
}
.header__title {
  width: 70px;
  width: 4.375rem;
  height: 39px;
  height: 2.4375rem;
  display: inline-block;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .header__title {
    width: 5.875rem;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header__ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
  }
}
.header {
  display: inline-block;
  min-width: 375px;
  min-width: 23.4375rem;
  width: 100%;
  height: 50px;
  height: 3.125rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: block;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
  }
}
.drawer-menu__inner {
  width: 50px;
  width: 3.125rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
}
.drawer-menu__inner span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: relative;
}
.drawer-menu__inner span::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -7px;
}
.drawer-menu__inner span::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -7px;
}
.drawer-menu__inner.open span {
  background-color: rgba(255, 255, 255, 0);
}
.drawer-menu__inner.open span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-menu__inner.open span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer-menu {
  display: inline-block;
  position: relative;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .drawer-menu {
    display: none;
  }
}
.drawer-menu:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */
