@use "global" as *;
.header__title {
  // size
  width: rem(70);
  height: rem(39);
  display: inline-block;
  @include mq(md) {
    // size
    width: rem(94);
    height: 100%;
  }
  @include mq(xl) {
  }
}
