@use "global" as *;
.drawer-menu__inner {
  // size
  width: rem(50);
  aspect-ratio: 1/1;
  // ajustment
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner span {
  // size
  display: block;
  width: 24px;
  height: 2px;
  // decoration
  background-color: #fff;
  // ajustment
  position: relative;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner span::before {
  content: "";
  // size
  display: block;
  width: 24px;
  height: 2px;
  // decoration
  background-color: #fff;
  // ajustment
  position: absolute;
  transform: translateY(-7px);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner span::after {
  content: "";
  // size
  display: block;
  width: 24px;
  height: 2px;
  // decoration
  background-color: #fff;
  // ajustment
  position: absolute;
  transform: translatey(7px);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
